<a href="https://colab.research.google.com/github/CinthiaLuna/PracticasSa/blob/master/SD2_S2_Tarea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import psutil, os

In [0]:
def huella_memoria():
  '''Regresa la huella de memoria en MB usada por un proceso en python'''
  mem = psutil.Process(os.getpid()).memory_info().rss
  return (mem / 1024**2)

In [0]:
plantilla = 'yellow_tripdata_2018-{:02d}.csv'
plantillaURL = 'wget  https://s3.amazonaws.com/nyc-tlc/trip+data/' + plantilla

##Lista

In [0]:
archivo3m = [plantillaURL.format(y) for y in range(1,4)]
archivo3m

In [0]:
archivo6m = [plantillaURL.format(y) for y in range(1,7)]
archivo6m

In [0]:
archivo12m = [plantillaURL.format(y) for y in range(1,13)]
archivo12m

##Generador de objetos

In [71]:
'''3 meses'''
(plantillaURL.format(y) for y in range (1,4))

In [0]:
for cmd in archivo12m:
  os.system(cmd)

In [61]:
ls

sample_data/                 yellow_tripdata_2018-07.csv
yellow_tripdata_2018-01.csv  yellow_tripdata_2018-08.csv
yellow_tripdata_2018-02.csv  yellow_tripdata_2018-09.csv
yellow_tripdata_2018-03.csv  yellow_tripdata_2018-10.csv
yellow_tripdata_2018-04.csv  yellow_tripdata_2018-11.csv
yellow_tripdata_2018-05.csv  yellow_tripdata_2018-12.csv
yellow_tripdata_2018-06.csv

In [0]:
def cuenta_viajes_tardados(dataframe):
    dataframe['duracion'] = (dataframe.tpep_dropoff_datetime - dataframe.tpep_pickup_datetime).dt.seconds
    es_viaje_tardado = dataframe.duracion > 1200
    result_dict = {'n_long': [sum(es_viaje_tardado)], 'n_total': [len(dataframe)]}
    return pd.DataFrame(result_dict)

In [0]:
archivos= [plantilla.format(y) for y in range(1,13)]

In [0]:
dataframes = (pd.read_csv(archivo, parse_dates=[1,2]) for archivo in archivos)

In [0]:
totales = (cuenta_viajes_tardados(df) for df in dataframes)

In [0]:
totalesTrimestrales= sum(totales)

In [67]:
totalesTrimestrales

     n_long    n_total
0  22166137  102804250

In [68]:
totalesTrimestrales['n_long'] / totalesTrimestrales['n_total']

0    0.215615
dtype: float64

In [70]:
huella_memoria()

5455.0859375